body{ 
    margin :0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.data-cell{
    border-color: grey;
    border-style: solid;
    border-width: 1px; 
    overflow: hidden;
    display: table-cell;
    font-size: 12px;    
}

.cell-col-header{
    background-color:#1aa3ff;
    color: whitesmoke;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    cursor: crosshair;
    display: table-cell;
}

.cell-row-header{
   background-color: dimgray;
   color: whitesmoke;
   float: left;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.context-menu{
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 170px;
    height : 70px;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    top: 100px;
    left: 100px;
    box-shadow: 2px 2px 2px grey;
}

.item{
    height: 20px;
    width: 144px;
    z-index: 100;
    color: black;
    padding-left:15%;
    padding-top:5%;
    overflow: hidden;
    margin-top: 2px;
    font-size: 12px;
}

.item:hover{
    background-color: lightgrey;
}


.container{
    display: table;
}