body{
    
    margin :0;
    padding: 0;
    position: relative;
}

.data-cell{
    border-color: grey;
    border-style: solid;
    border-width: 1px; 
    float : left;
    overflow: hidden;
}

.cell-col-header{
   background-color:  #1aa3ff;
   color: whitesmoke;
   float: left;
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    cursor: crosshair;
}

.cell-row-header{
   background-color: dimgray;
   color: whitesmoke;
   float: left;
    border-color: lightgray;
    border-style: solid;
    border-width: 1px;
}

.context-menu{
    
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    width: 200px;
    height : 80px;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    top: 100px;
    left: 100px;
    box-shadow: 2px 2px 2px grey;
}

.item{
   
    height: 25px;
    width: 150px;
    background-color: lightgrey;
    z-index: 100;
    color:white;
    padding-left:25%;
    padding-top:5%;
    overflow: hidden;
    margin-top: 2px;
}